
InstancePerso/.vs/InstancePerso/FileContentIndex/1e076474-8edb-494c-80f5-8b988b9dfc58.vsidx
InstancePerso/.vs/InstancePerso/FileContentIndex/5347c2c5-31c0-464c-a8fc-031e0b00ac7c.vsidx
*.vsidx
*.vsidx
InstancePerso/.vs/InstancePerso/FileContentIndex/1e076474-8edb-494c-80f5-8b988b9dfc58.vsidx
*.db
*.db
*.db
